@import "{}/client/views/_layout/config";

div.message.ui.segment {
  background-color: #fff;
  border: none;
  margin: 0;
  box-shadow: none;

  &.same-author {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  span.message-username {
    font-weight: bold;
  }
  span.message-date {
    font-size: 0.8em;
    color: #333;
  }

  div.content {
    font-size: 1.1em;

    &.same-author {
      padding-top: 0;
      padding-bottom: 0;
    }

    img.emoji {
      font-size: inherit;
      height: 2.7ex;
      /* prevent img stretch */
      width: auto;
      min-width: 15px;
      min-height: 15px;

      /* Inline alignment adjust the margins  */
      display: inline-block;
      margin: -0.4ex .15em 0;
      line-height: normal;
      vertical-align: middle;
    }
  }

  &:hover {
    background-color: #F9F9F9;
  }
}

