<template name="message">
  <div class="message ui segment {{#if sameAuthor}}same-author{{/if}}">
    {{#unless sameAuthor}}
      {{#with getUser userId }}
        <span class="message-username">{{ profile.username }}</span>
      {{/with}}
      - <span class="message-date">{{ messageDate ../createdAt }}</span>
    {{/unless}}
    <div class="content {{#if sameAuthor}}same-author{{/if}}">
      {{#emoji}}
        {{linkPreview ../text }}
        {{#autolink}}
          {{ ../text }}
        {{/autolink}}
      {{/emoji}}
    </div>
  </div>
</template>
