<template name="channelMembers">
  <div id="channel-members" class="channel-members ui vertical inverted menu">
    <div class="header">
      <i class="icon users"></i>
      MEMBERS ({{getOnlineMemberCount}} / {{getMemberCount}})
    </div>
    <div class="content">
      {{#each getChannelMembers}}
        <div class="item">
          {{#if status.online}}
            <i class="icon circle green"></i>
          {{ else }}
            {{#if status.idle }}
              <i class="icon spinner loading green"></i>
            {{ else }}
              <i class="icon circle thin red"></i>
            {{/if}}
          {{/if}}
          {{ profile.username }}
        </div>
      {{/each}}
    </div>
  </div>
</template>
