<template name="channelMembers">
  <div class="channel-members ui sidebar inverted vertical menu right">
    <div class="ui header">
      <i class="icon users"></i>
      MEMBERS ({{getOnlineMemberCount}} / {{getMemberCount}})
    </div>
    {{#each getChannelMembers}}
      <div class="item">
        {{#if status.online}}
          <i class="icon circle green"></i>
        {{ else }}
          {{#if status.idle }}
            <i class="icon spinner loading green"></i>
          {{ else }}
            <i class="icon circle thin red"></i>
          {{/if}}
        {{/if}}
        {{ profile.username }}
      </div>
    {{/each}}
  </div>
</template>
