<template name="createChannel">
  <div class="create-channel">
    <h1 class="ui header">
      <i class="icon plus"></i>
      Create Channel
    </h1>
    <form class="ui form" id="createChannelForm">
      <div class="message-wrapper" id="createChannelInfo"></div>
      <div class="field">
          <div class="ui segment">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" id="publicChannel" class="hidden" />
              <label>Public</label>
            </div>
          </div>
        </div>
      <div class="field">
        <label for="nameChannel">Channel name : </label>
        <input type="text" id="nameChannel" />
      </div>
      <div class="field">
        <label>Invite members</label>
        <select multiple="" class="ui dropdown search" id="membersChannel">
          {{#each getUsers}}
            <option value="{{ _id }}">{{ profile.username }}</option>
          {{/each}}
        </select>
      </div>
      <button type="submit" class="ui button green labeled icon">
        <i class="icon plus"></i>
        Create
      </button>
    </form>
  </div>
</template>
