@import "config";

div#__blaze-root {
  height: 100%;
}

body {
  background-image: url("/images/background/stardust.png");
}

main.ui.container-fluid {
  margin-left: 15rem;
  padding: 0;
  min-height: 100%;
  position: relative;
}

// Modal style
div.modal {
  .ui.header {
    color: $p-color;
  }
}

// sAlert popup z-index
.s-alert-box {
  z-index: 2000;
}

// Loader style
div.ui.active.loader:after {
  border-color: $p-color transparent transparent;
}

// Color
.primary-color {
  background-color: $p-color !important;
  color: #FFF !important;
}

// Infos wrapper
div#message-info {
  z-index: 401 !important;
  position: fixed;
  width: 100%;
  padding-bottom: 0;
  padding-right: 15rem;
}
div.message-wrapper {
  position: relative;
  padding-bottom: 15px;
  z-index: 400;
  width: 100%;
}

// Remove radius for UI items
.ui.button, div.card, input, .ui.label, .ui.accordion, .ui.segment, .ui.message, div.menu, textarea, .ui.header, .ui.modal, .ui.dropdown {
  border-radius: 0px !important;
}

/* AutoComplete styles for Emoji One */
.dropdown-menu {
  list-style: none;
  bottom: 75px !important;
  left: 15rem !important;
  right: 2rem;
  top: auto !important;
  padding: .3em;
  margin: 0;
//  border: 1px solid $p-color;
  background-color: white;
  border-radius: 0px;
  overflow: hidden;
  font-size: inherit;
  letter-spacing: .025em;
  box-shadow: 3px 3px 3px $p-color;
  margin-left: 15px;
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu li {
  letter-spacing: 0;
  display: inline-block;
  float: none;
  margin: 0;
  border:none;
}
.dropdown-menu li:before {
  display: none;
}
.dropdown-menu li .emojione {
  vertical-align: middle;
  font-size: 1.23em;
  width: 1em;
  height: 1em;
}
// Responsive
@media (max-width: 767px) {
  div#message-info {
    padding-right: 15rem;
    z-index: 15;
  }
  div.message-wrapper {
  }
}

