@import "{}/client/views/_layout/config";

div.register.row {
  margin-top: 30px;

  div.column {
    max-width: 450px;

    div.segment.title {
      background-color: $p-color;
      margin-bottom: 0;

      h2.ui.header {
        font-family: 'Lato', 'Helvetica Neue', 'Arial';
        color: #FFF;
      }
    }

    form.ui.form {
      button.ui.button {
        background-color: $p-color;
        color: #FFF;
        transition: all .25s;
        display: block;
        width: 100%;

        &:hover {
          background-color: $clear-p-color;
        }
      }
    }
  }
}
