<template name="register">
  <div class="register row">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
        <div class="ui segment title">
          <h2 class="ui header">
            Registration
          </h2>
        </div>
        <form id="register-form" class="ui large form {{#if isLoading}}loading{{/if}}">
          <div class="ui stacked segment">
            <div class="message-wrapper" id="register-info"></div>
            <div class="field">
              <div class="ui left icon input">
                <i class="icon mail"></i>
                <input type="email" id="account-email" placeholder="E-mail" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="icon lock"></i>
                <input type="password" id="account-password" placeholder="Password" />
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="icon lock"></i>
                <input type="password" id="confirm-password" placeholder="Confirm your password" />
              </div>
            </div>
            <button type="submit" class="ui button large fuild">
              Sign up
            </button>
          </div>
        </form>
        <div class="ui message">
          You already have an account ?
          <a href="/login">Sign in</a>
        </div>
      </div>
    </div>
  </div>
</template>
