<template name="createFeedBack">
  <div class="createFeedback">
    <h1 class="ui header attached top">
      <i class="icon bug"></i>
      {{_ "send_feedback" }}
    </h1>
    <div class="ui attached segment">
      <div class="ui message info">
        <div class="header">
          {{_ "app_in_development" }}
        </div>
        <p>{{_ "give_a_feedback" }}</p>
      </div>
    </div>
    <div class="ui attached segment">
      <form class="ui form" id="formFeedBack">
        <div class="field">
          <label for="titleFeedBack">{{_ "title" }} : </label>
          <input type="text" id="titleFeedBack" />
        </div>
        <div class="field">
          <label for="messageFeedBack">Message : </label>
          <textarea rows="3" id="messageFeedBack"></textarea>
        </div>
        <button type="submit" class="ui button labeled icon green">
          <i class="icon checkmark"></i>
          {{_ "send" }}
        </button>
      </form>
    </div>
  </div>
</template>
