<template name="users">
  <div class="users ui segment">
    <div class="ui header">
      <i class="icon users"></i>
      {{_ "users" }}
    </div>
    <div class="row">
      <div class="ui grid stackable">
        <div class="eight wide column well">
          {{#if selectedUser}}
            <button id="empty-update-user" class="ui green button labeled icon">
              <i class="add user icon"></i>
              {{_ "create_user" }}
            </button>
          {{/if}}
          <div id="info-users" class="message-wrapper"></div>
          <div class="ui styled accordion">
            {{#each users}}
              <div class="title">
                <i class="dropdown icon"></i>
                {{#if profile.admin }}
                  <i class="bordered icon terminal inverted red"></i>
                {{/if}}
                {{ profile.username }}
              </div>
              <div class="content">
                <p>
                  <i class="icon tag"></i>
                  Id : {{ _id }}
                </p>
                <p>
                  <i class="icon mail"></i>
                  {{_ "email_address" }} : {{ emails.[0].address }}
                </p>
                <p>
                  <i class="icon ban"></i>
                  Super Admin :
                  {{#if profile.superAdmin }}
                    true
                  {{ else }}
                    false
                  {{/if}}
                </p>
                <p>
                  <i class="icon terminal"></i>
                  Admin :
                  {{#if profile.admin }}
                    true
                  {{ else }}
                    false
                  {{/if}}
                </p>
                <p>
                  <i class="icon flag"></i>
                  {{_ "language" }} :
                  {{#if getLanguage profile.language }}
                    <i class="flag {{ getLanguage profile.language }}"></i>
                  {{/if}}
                </p>
                <div class="actions">
                  <a href="/users/{{ _id }}" class="ui button labeled icon blue">
                    <i class="icon eye"></i>
                    {{_ "see" }}
                  </a>
                  <button data-id="{{ _id }}" class="ui button labeled icon green update-user">
                    <i class="icon settings"></i>
                    {{_ "update" }}
                  </button>
                  <button data-id="{{ _id }}" class="ui button labeled icon red remove-user">
                    <i class="icon remove user"></i>
                    {{_ "remove" }}
                  </button>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="eight wide column">
          {{#if selectedUser}}
            {{> updateUser}}
          {{else}}
            {{> createUser}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
