<template name="generateUserNames">
  <div class="confirm-generate-modal ui basic modal">
    <i class="icon close"></i>
    <div class="header">
      <i class="icon warning sign"></i>
      Are you ABSOLUTELY sure to generate usernames
    </div>
    <div class="actions">
      <div class="ui cancel button">Cancel</div>
      <div class="ui positive button">Yes, generate usernames !</div>
    </div>
  </div>
  <div class="generate-usernames">
    <div class="ui button labeled icon green" id="launchGenerateUserNames">
      <i class="icon random"></i>
      Generate UserNames
    </div>
  </div>
</template>
