<template name="generateUserNames">
  <div class="confirm-generate-modal ui basic modal">
    <i class="icon close"></i>
    <div class="header">
      <i class="icon warning sign"></i>
      {{_ "are_you_sure_usernames" }}
    </div>
    <div class="actions">
      <div class="ui cancel button">{{_ "cancel" }}</div>
      <div class="ui positive button">{{_ "yes_generate_usernames" }}</div>
    </div>
  </div>
  <div class="generate-usernames">
    <div class="ui button labeled icon green" id="launchGenerateUserNames">
      <i class="icon random"></i>
      {{_ "generate_usernames" }}
    </div>
  </div>
</template>
