<template name="channelList">
  <div class="remove-channel ui basic modal">
    <i class="icon close"></i>
    <div class="header">
      <i class="icon warning sign"></i>
      {{_ "are_you_sure" }}
    </div>
    <div class="actions">
      <div class="ui cancel button">{{_ "cancel" }}</div>
      <div class="ui positive button">{{_ "yes_remove_channel" }}</div>
    </div>
  </div>
  <div class="create-channel ui small modal">
    <i class="icon close"></i>
    {{> channelForm}}
  </div>
  <div class="item channel-list">
    <div id="displayCreateChannel" class="header">
      {{_ "CHANNELS" }}
      ({{ nbChannels }})
      <i class="icon plus square outline large"></i>
    </div>
    <div class="content">
      {{#each privateChannels}}
        {{> channel channel=. }}
      {{/each}}
      {{#each publicChannels}}
        {{> channel channel=. }}
      {{/each}}
    </div>
  </div>
</template>
