<template name="chat">
  {{#if currentUser}}
    <div class="chat">
      <div class="chat-wrapper">
        {{> messages}}
      </div>
      <div class="input-wrapper">
        <form class="" id="send-message-form">
          <div class="ui fuild action input">
            <input type="text" name="message" id="message-input" placeholder="Message..." autocomplete="off" />
            <button type="submit" class="ui animated button send-button">
              <div class="visible content">Send</div>
              <div class="hidden content">
                <i class="icon send"></i>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>
  {{ else }}
    {{> login }}
  {{/if}}
</template>
