<template name="messages">
  <div class="messages">
    {{#if userIsMember}}
      {{#if Template.subscriptionsReady}}
        {{#each getMessages}}
          {{#if sameAuthor @index createdBy }}
            {{> message userId=createdBy sameAuthor=true }}
          {{else}}
            {{> message userId=createdBy sameAuthor=false }}
          {{/if}}
        {{/each}}
      {{ else }}
        <div class="ui active loader"></div>
      {{/if}}
    {{else}}
      <div class="ui active large text loader">
        Join channel for see ! 
        <i class="icon eye circular inverted primary-color"></i>
      </div>
    {{/if}}
    <div id="chat-info-bottom"></div>
  </div>
</template>
