<template name="editUser">
  <div class="edit-user ui segment">
    <h1 class="ui header">
      <i class="icon user"></i>
      <div class="content">
        {{_ "my_profile" }}
      </div>
    </h1>
    <div class="informations">
      <div class="body">
        <p class="valign-wrapper">
          <span>{{_ "email_address" }} :&nbsp;</span>
          {{ getCurrentUserEmail }}
        </p>
        <form id="change-password-form" class="change-password-form ui form">
          <h3>{{_ "change_password" }}</h3>
          <div class="message-wrapper" id="info-password"></div>
          <div class="field">
            <label for="oldPassword">{{_ "old_password" }} :</label>
            <input type="password" class="" id="oldPassword" />
          </div>
          <div class="field">
            <label for="newPassword">{{_ "new_password" }} :</label>
            <input type="password" class="" id="newPassword" />
          </div>
          <div class="field">
            <label for="confirmPassword">{{_ "confirm_new_password" }} :</label>
            <input type="password" class="" id="confirmPassword" />
          </div>
          <div id="info-confirm-password"></div>
          <div class="field">
            <button type="submit" class="ui right labeled green icon button" id="change-password-button">
              <i class="save icon right"></i>
              {{_ "save" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
