@import "{}/client/views/_layout/config";

header {

  div#button-open-menu {
    z-index: 10;
    cursor: pointer;
    position: absolute;
    line-height: 30px;
    width: 30px;
    background-color: #FFF;
    text-align: center;
    transition: all .25s;
    display: none;
    text-align: center;

    i.icon.sidebar {
      color: $p-color;
    }

    &:hover {
      background-color: $p-color;
      i.icon.sidebar {
        color: #FFF;
      }
    }
  }
  div.ui.menu#navbar {
    overflow-y: auto;
    height: 100%;
    box-shadow: $p-color 3px 0 3px !important;
    left: 0px;
    display: block;

    div#button-close-menu {
      float: left;
      z-index: 10;
      cursor: pointer;
      position: absolute;
      line-height: 30px;
      width: 30px;
      background-color: #FFF;
      text-align: center;
      transition: all .25s;
      display: none;

      i.icon.close {
        color: $p-color;
      }

      &:hover {
        background-color: $p-color;
        i.icon.close {
          color: #FFF;
        }
      }
    }
    &::-webkit-scrollbar-thumb {
      background-color: $p-color;
    }
    &::-webkit-scrollbar{
      background-color: $bg-color;
    }
    &::-webkit-scrollbar:hover {
      background-color: $bg-color;
      margin: 0 2px;
    }
    &::-webkit-scrollbar:active {
      background-color: $bg-color;
      margin: 0 2px;
    }
    div.bottom {
      background-color: #1b1c1d;
      width: 100%;
      .item {
        text-align: center;
      }
    }
    a.item.logo {
      img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .ui.left.pointing.dropdown.item {
      div.menu {
        width: 75%;
      }
    }
    a.item {
      padding-left: 10px;
      padding-right: 10px;
      .icon {
        float: left !important;
        margin-right: 0.5em !important;
        margin-left: 0 !important;
      }
      .icon.dropdown {
        float: right !important;
        margin-right: inherit !important;
      }
    }
  }
}

@media all and (max-width: 650px) {
  main.ui.container-fluid {
    margin-left: 0;
  }
  div.chat div.input-wrapper {
    padding-left: 1rem;
  }
  #button-close-menu, #button-open-menu {
    display: block !important;
  }
  header div.ui.menu#navbar {
    left: -260px;
  }
}
