<template name="menu">
  {{#if ifAdmin}}
    <div class="generate-username-modal ui small modal">
      <i class="icon close"></i>
      <div class="message-wrapper" id="username-info"></div>
      {{> listUserNames}}
      <div class="ui horizontal divider">Users</div>
      {{> userNamesUserList}}
      <div class="ui horizontal divider">Launch Random Generate</div>
      {{> generateUserNames}}
    </div>
  {{/if}}
  <header>
    <div class="ui fixed inverted vertical menu">
      <a href="/" class="item logo">
        <img class="ui circular image" src="/images/burning_keyboard.png">
      </a>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search">
          <i class="search icon"></i>
        </div>
      </div>
      {{#if currentUser}}
        <a class="item" id="editUser" href="/editUser">
          <i class="icon user"></i>
          {{ currentUser.emails.[0].address }}
        </a>
        <a class="item" id="create-username">
          <i class="icon add"></i>
          Create UserName
        </a>
        {{#if ifAdmin}}
          <a class="item" id="displayGenerateUserNames">
            <i class="icon random"></i>
            Generate usernames
          </a>
<!--
          <a class="item" id="feedBacks" href="/feedbacks">
            <i class="icon bug"></i>
            FeedBacks
          </a>
          <a class="ui left pointing dropdown link item" href="">
            <i class="icon users"></i>
            <i class="dropdown icon"></i>
            Users
            <div class="menu">
              <a class="item" id="newUser" href="/users/new">
                <i class="icon user add"></i>
                New User
              </a>
              <a class="item" id="userList" href="/users">
                <i class="icon users"></i>
                User List
              </a>
            </div>
          </a>
-->
        {{/if}}
        <div class="bottom menu">
          <div class="item">
            <a class="ui red button labeled icon" href="" id="logout">
              <i class="icon sign out"></i>
              Logout
            </a>
          </div>
        </div>
      {{else}}
        <div class="bottom menu">
          <div class="item">
            <a class="ui green button labeled icon" href="/login">
              <i class="sign in icon"></i>
              Sign in
            </a>
          </div>
          <div class="item">
            <a class="ui blue labeled icon button" href="/register">
              <i class="add user icon"></i>
              Sign up
            </a>
          </div>
        </div>
      {{/if}}
    </div>
  </header>
</template>
