@import "{}/client/views/_layout/config";

header {
  div.ui.menu {
    div.item.logo {
      img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    a.item {
      .icon {
        float: left !important;
        margin-right: 0.5em !important;
      }
    }
  }
}
