@import "{}/client/views/_layout/config";

header {
  div.ui.menu {
    overflow-y: auto;
    height: 100%;
    div.bottom {
      background-color: #1b1c1d;
      width: 100%;
      .item {
        text-align: center;
      }
    }
    a.item.logo {
      img {
        width: 100px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .ui.left.pointing.dropdown.item {
      div.menu {
        width: 75%;
      }
    }
    a.item {
      padding-left: 10px;
      padding-right: 10px;
      .icon {
        float: left !important;
        margin-right: 0.5em !important;
        margin-left: 0 !important;
      }
      .icon.dropdown {
        float: right !important;
        margin-right: inherit !important;
      }
    }
  }
}
